body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    color: #333;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,72,97,1) 50%, rgb(0, 164, 197) 100%);
}

.mgdev {
    width: 100px;
}

.header {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1em;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 200px;
}

h2 {
    color: #fff;
}

.titles {
    color: black;
    font-family: Roboto;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav span {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #005b72;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
}

.container {
    background-color: rgba(0, 0, 0, 0.61);
    flex-direction: column;
    align-items: center;
    margin: 2em auto;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    display: flex;
    justify-content: center;
}

.containerpag{
    background-color: #f2f2f2;
    flex-direction: column;
    align-items: center;
    margin: 2em auto;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footer {
    background-color: #f2f2f2;
    flex-direction: column;
    align-items: center;
    margin: 2em auto;
    margin-top: 0px;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #00a0a0;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

input[type="submit"] {
    font-family: Roboto;
    font-size: 20px;
    background-color: #009297c0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #007dc5;
}

.button {
    font-family: Roboto;
    font-size: 20px;
    background-color: #0078a8c0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

.button:hover {
    background-color: #007dc5;
}

.buttonform {
    font-family: Roboto;
    font-size: 15px;
    background-color: #0ba546;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 200px;
}

.buttonform:hover {
    background-color: #00aa5b;
}

.buttonformred {
    font-family: Roboto;
    font-size: 15px;
    background-color: #af1a1a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 200px;
}

.buttonformred:hover {
    background-color: #970505;
}

.success {
    color: green;
}

.error {
    color: red;
}

.imgLogo {
    max-width: 400px;
}

.imgLogomin {
    width: 50px;
}

.imgForbidden {
    max-width: 400px;
}

.imgLogin {
    width: auto;
    height: 200px;
}

/* Inputs */

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }

  input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}

input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    box-shadow: 0 0 0px 1000px transparent inset;
    color: inherit;
    -webkit-text-fill-color: white !important;
}

  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1rem;
    font-family: Roboto;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }
  
  /* Formulario_2 */

  .form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 190px;
  }
  
  .form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #000000 solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #000000;
  }
  
  .form-control input:focus,
  .form-control input:valid {
    outline: 0;
    border-bottom-color: rgb(0, 0, 0);
  }
  
  .form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
  }
  
  .form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: #383838;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .form-control input:focus+label span,
  .form-control input:valid+label span {
    color: rgb(0, 0, 0);
    transform: translateY(-30px);
  }

  /* Estilo Select*/

  :root {
    --arrow-bg: rgba(0, 0, 0, 0.288);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: rgba(63, 63, 63, 0.445);
    --select-bg: rgba(0, 92, 121, 0.541);
  }
  
  select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    max-width: 250px;
    padding: 0.5rem 4rem 0.5rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
      linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: rgb(31, 31, 31);
    border-radius: 3px;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }
    /* Remove focus outline */
    &:focus {
      outline: none;
    }
    /* <option> colors */
    option {
      color: inherit;
      background-color: var(--option-bg);
    }
  }
  